@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@font-face {
	font-family: 'Inter';
	src: url('./assets/fonts/Inter_18pt-Regular.ttf');
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Mulish';
}
p {
	font-family: 'Mulish';
}
h1,
h2,
h3,
a {
	margin: 0;
	text-decoration: none;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
